.pokemon-list {
  width: 108rem;
  margin: 0 auto;
}

.pokemon-list__item {
  margin: 1rem 0;
  font-size: 1.6rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 0.2rem solid var(--nav-color);
  border-radius: 0.5rem;
  padding: 1rem;
}
.pokemon-list__link {
  text-decoration: none;
  color: var(--nav-color);
  font-weight: bold;
  transition: all 0.4s;
}

.pokemon-list__link:hover {
  color: var(--black-color);
  transition: all 0.4s;
}

.search {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.5rem;
}
.search__input {
  margin: 0 1.5rem;
}
.search__btn {
  cursor: pointer;
  padding: 0 1rem;
  background-color: var(--nav-color);
  border: none;
  color: var(--white-color);
}
.pokemon-list__loading {
  color: grey;
  font-family: sans-serif;
  height: 5vh;
  left: 50%;
  overflow-x: hidden;
  padding-top: 7vh;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  overflow: hidden;
}
.pokemon-list__loading::before {
  animation: left-to-right 3s alternate infinite linear;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--nav-color),
    transparent
  );
  bottom: 0;
  content: '';
  height: 5vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.pokemon-list__loading::after {
  background-image: repeating-linear-gradient(
    90deg,
    var(--white-color),
    var(--white-color) 1vw,
    transparent 1vw,
    transparent 10vw
  );
  content: '';
  height: 5vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.pokemon-list__error {
  font-size: 3rem;
  color: red;
  text-transform: uppercase;
}
.pagination {
  display: flex;
  width: 50rem;
  margin: 2rem auto;
  list-style: none;
  font-size: 2rem;
  justify-content: space-between;
}
.pagination li {
  cursor: pointer;
}
